body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
}


/*  Parte do nanbar */

.logo1{
    color: blanchedalmond;
    font-size: x-large;
    font-family: cursive;
}

.logo2{
    font-size: large;
}

header{
    display: flex;
    justify-content:  space-between;
}

header nav p{
    color: white;
   
}

nav{
    display: flex;
    justify-content: right;
    margin-right: 50px;
}

nav a{
    text-decoration: none;
    color: white;
}

/*  Parte do conteudo */

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    display: flex;
    justify-content: space-around;
    height: 500px;
    width: 800px;
    border-radius: 10px;
    border-style: groove;
}

.bolo{
    background-image: url(images/bolo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.brigadeiro{
    background-image: url(images/brigadeiro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


section div{
    width: 350px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    margin-top: 15%;
    text-align: center;
    
}

section div img{
    width: 350px;
    height: 250px;
}


section div a{
    text-decoration: none;
    color: black;
    background-color: blanchedalmond;
    border-radius: 10px;
    border-color: black;
    padding: 10px;
}

section div a img{
    height: auto;
    width: auto;
}

.ingredientes{
    display: block;
    color: white;
    padding-left: 20px;
    height: auto;
}

.bolo, .brigadeiro{
    transition: transform 0.3s ease;
}

.bolo:hover, .brigadeiro:hover{
    transform: translateY(-5%);
}


/*  Parte do footer */

footer{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    margin-top: 70px;
    font-size: 10px;
}